body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: #0000008e;
}
img {
  margin: auto;
  display: block;
}
.container {
    margin: auto;
    width: 50%;
    padding: 50px;
    border: 10px solid #311C6B;
    background-color: #ffffff;
}

.container {
  text-align: center;
  border-radius: 15px;
  background: #ffffff;
  padding: 20px;
  width: 25%;
}

label, input, select, button {
  display: block;      /* Ensure the elements are block-level */
  width: 50%;          /* Set width to 50% */
  margin: 0 auto 15px; /* Centers the block and gives 15px margin at the bottom */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

button {
    margin: auto;
    width: 50%;
    cursor: pointer;
    background-color: #5ea1e9;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
h1, h2  {
text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center; /* Align items in the center */
  background-color: #333;
  padding: 10px 20px;
  width: 100%; /* Full width */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align navbar to the top of the page */
  z-index: 1000; /* Ensure navbar stays on top */
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding: 5px 10px; /* Add padding for better appearance */
}

.nav-list a:hover {
  color: #ddd;
}

.toggle-button {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 3px;
  width: 25px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
      justify-content: space-between; /* Adjust layout for mobile */
  }

  .toggle-button {
      display: flex;
  }

  .nav-list {
      position: absolute; /* Adjusted to absolute to overlay content */
      top: 60px; /* Adjust based on the height of the navbar */
      left: 0; /* Align to left */
      width: 100%; /* Full width */
      background-color: #333; /* Background color for dropdown */
      flex-direction: column;
      display: none;
      gap: 10px;
  }

  .nav-list.active {
      display: flex;
  }
}
