body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: #0000008e;
}

.container {
  margin: auto;
  width: 25%;
  padding: 50px;
  border: 10px solid #311C6B;
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}

label {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  font-size: 24px;
  border-radius: 4px;
}

input, select, button {
  display: block;
  width: 50%;
  margin: 0 auto 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #5ea1e9;
  border: none;
  color: #ffffff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

h1, h2 {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding: 5px 10px;
}

.nav-list a:hover {
  color: #311C6B;
}

.toggle-button {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 3px;
  width: 25px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
      justify-content: space-between;
  }

  .toggle-button {
      display: flex;
  }

  .nav-list {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      flex-direction: column;
      display: none;
      gap: 10px;
  }

  .nav-list.active {
      display: flex;
  }
}
.red-text {
  color: red;
}
/* Center the modal vertically */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/* Make the price text large and bold */
.large-bold-text {
  font-size: 2em; /* Adjust this value to your preference */
  font-weight: bold;
}
